body{
   
       
    background: #F0FFF0; /*Gris bajito*/
    /*font-size: 1em;
    font-family: arial;*/
    
}



header{
   
    text-align: center; 
    width: 100%;/*Ancho del header*/
    /*border:10px solid #FFD700;*/
   
}
nav{
  
     width: 100%;/*Ancho del nav*/

}

nav li{
    display: inline-block;
    list-style: none;
}


/*aside {
    float: right;
      width: 18%;
}*/

section {
    /*background:#F0FFFF;*/
    box-sizing:border-box;/*Esta propiedad hace que el padding se mida por dentro, y el ancho de claro se va arespetar*/
    float: left;
    margin: 1%;
    padding:15px;
    width: 48%;/*Ancho del section*/
      
}

/*article {
    float: left;
    margin: 1%;
    padding:15px;
    width: 48%;   
}*/

footer{
    clear: both;/*Restaura el flujo normal del documento con la propiedad clear, para que no se suba hacia arriba*/
    background: #2b3678;/*Azul Marino*/
    color:#FFFFFF;/*Blanco*/
    text-align: center;
    font-size: 0.9em;
    padding: 1em 0;
}

/* Remove margins and padding from the list, and add a black background color */

/*Inicio de la lista del menu*/
body {
    margin:0;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#191970;/*Azul Marino*/
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 23px;
  text-decoration: none;
  transition: 0.3s;
  /*font-size: 25px;*/
}

ul.topnav li a:hover {
    background-color: #778899;
    }/*Gris*/

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {
    display: none;
}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/*Fin del Menu*/


/*Inicio de etiquetas de titulos*/

h1{/*Titulo Principal*/
    color:#191970;
    font-size: 50px;
    text-align: center;
}


h2 { /*Titulo Secundario, Requeriments*/
    color: #191970;
    font-size: 23px;
    text-align: center;
    
}


h3 {/*Titulo Cuarto, titulos of studentsneedingsponsors*/
    color: #00008B;
    font-size: 22px;
 }


h4 { /*Titulo Cuarto Link de navegacion*/
    color: #FFFFFF;/*Color white*/
    font-size: 15px;
 }

/*Fin de etiquetas de titulos*/

/*Inicio de tamaños de fuentes*/
p#home{/*Tamaño fuente de la pagina home*/
    color: #000000;/*Color Black*/
    font-family: "Tines New Roman";
    font-size: 20px;
}
p#testimonios{/*Tamaño fuente de la pagina Testimonios*/
    color: #000000;
    font-family: "Tines New Roman";
    font-size: 20px;
}
p#aboutus{/*Tamaño fuente de la pagina about us*/
    color: #000000;
    font-family: "Tines New Roman";
    font-size: 20px;
}

p#requeriments{/*Tamaño fuente de la pagina requeriments*/
   color: #000000;
   font-family: "Tines New Roman";
   font-size: 20px;
}

p#EstudentNS{/*Tamaño fuente de la pagina students needing sponsors*/
    color: #000000;
    font-family: "Tines New Roman";
    font-size: 20px;

}

p#events{/*Tamaño fuente de la pagina events*/
    color: #000000;
    font-family: "Tines New Roman";
    /*line-height: 50%;*/
    font-size: 20px;


}
p#contactus{/*Tamaño fuente de la pagina contact us*/
    color: 000000;
    font-family: "Tines New Roman";
    font-size: 18px;
    text-align: center;
}
/*Fin de tamaños de fuentes*/

/*Inicio de tamaños de imagenes*/
#imgbaner{/*tamaño de la imagen del banner*/
    width: 100%;
    /*height: auto;*/ 
    max-width:472px;
    height: 250px;
    /*border:10px solid #FFD700;*/
}

div#slider figure {
    position: relative;
    width: 1100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 60s slidy infinite;  
}

div#slider {
    width: 80%;
    max-width: 472px;
    height: 250px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

div#slider figure img {
    width: 9.09%;
    height: auto;
    float: left;
}

/*image replacement */
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
        margin:0;
        padding:0;
        display:block;
        overflow:hidden;
        /*text-indent:-5000px;*/
        text-indent:-5000px;
    }
/* // image replacement */
            


@keyframes slidy { 
    0%  { left: 0%; }
    8%  { left: -100%; }
    12%  { left: -100%; }
    18%  { left: -200%; }
    22%  { left: -200%; }
    28%  { left: -300%; }
    32%  { left: -300%; }
    38%  { left: -400%; }
    42%  { left: -400%; }
    48%  { left: -500%; }
    52%  { left: -500%; }
    58%  { left: -600%; }
    62%  { left: -600%; }
    68%  { left: -700%; }
    72%  { left: -700%; }
    78%  { left: -800%; }
    82%  { left: -800%; }
    88%  { left: -900%; }
    92%  { left: -900%; }
    98%  { left: -1000%; }
    100%  { left: -1000%; }
/*    20% { left: 0%; }
    25% { left: -500%; }
    45% { left: -500%; }
    50% { left: -800%; }
    70% { left: -800%; } 
    75% { left: -1000%; }
    95% { left: -1000%; }
    100% { left: -1100%; } 
*/
}



#imgDirectorio{/*Imagenes de los contatos de directorios*/
    /*width: 200px;*/
    width: 100%;
    max-width:240px;
    height: 220px;
    text-align: center;
    

}

#imgrequeriments{/*Imagenes de la sesion de requeriments*/
    /*width: 250px;*/
    width: 100%;
    height: 200px;
    max-width: 200px;
    

}

#imghome{/*Imagenes de la sesion de home*/
    /*width: 200px;*/
    width: 100%;
    height: 250px;
    max-width: 200px;
    
}

#imgevents{/*Imagenes de la sesion de eventos*/
    /*width: 300px;*/
    width: 100%;
    height: 230px;
    /*height: auto;*/
    max-width: 300px;

}

#imgaboutus{/*Imagenes de la sesion de about us*/
    /*width: 300px;*/
    width: 100%;
    max-width: 300px;   
    /*height: 200px;*/
    height: auto;
   

}

#Testimonios{/*Imagenes de la sesion de testimonios*/
    width: 100%;
    max-width: 300px;
    /*width: 300px;*/
    height: 250px;

}

#ENE{/*Imagenes students needing sponsors*/
   /*width: 96px;*/
   width: 100%;
   height: 109px;
   max-width: 90px;

}


#imglogo{
    width: 100%;
    height: auto;
    /*max-width: 200px;*/
    max-width:472px;
}
/*Fin de tamaños de imagenes*/


/*Inicio de mediaquerys para Responsive Design*/
@media (min-width: 360px) {

  /*body{
    background: yellow;
  } */ 

  section{
   width: 98%; /*Mostrara 1 columnas*/
   
  }  

  header{
    width: 80%;
 }
 
}


@media (min-width: 768px) {
 /* body{
    background: blue;
  }  */
     section{
        width: 31.33%; /*Mostrara 3 columnas*/
        /*Calculo 100/3-2*/
     }

 header{
    width: 80%;
 }
  
}


@media (min-width: 1280px) {
 /* body{
    background: green;
  } */ 
   section{
    width: 50%; /*Mostrara 4 columnas*/
    /*Calculo 100/4-2*/
   }

 header{
    width: 80%;
 }

}

/*Inicio de mediaquerys para Responsive Design*/